.children {
  //background-color: yellow;

  padding: 1em 0;
  //border-bottom: 5px solid black;
  h1 {
    font-family: Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(230, 0, 0);
  }
}
