.container-table {
  font-family: Arial, sans-serif;

  table {
    width: 300px;
    height: auto;
    caption {
      margin: 1em 0;
      font-weight: bold;
      font-size: 1.3em;
    }
    tr {
      td,
      th {
        width: auto;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
        padding: 0.25em;
      }
      .td-title {
        text-align: left;
      }
      th,
      .td-title {
        font-weight: bold;
      }
    }
  }
  table,
  th,
  td:not(.no-draw) {
    border: 1px solid black;
    collapse: collapse;
  }
}
