// .board {
//   box-sizing: content-box;
//   width: 200px;
//   height: 200px;
//
//   padding: 2px;
//   margin: 1em;
//   border: 2px solid black;
//   background-color: white;
//
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: repeat(3, 1fr);
// }

.container-board {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  .resetGame {
    margin-top: 0.8em;
    cursor: pointer;
    box-sizing: content-box;
    width: 6em;
    height: 2em;
    background-color: rgba(180, 0, 0, 0.1);
    color: rgb(180, 0, 0);
    font-weight: bold;
    border: 3px solid rgb(180, 0, 0);
    border-radius: 1em;
    padding: 0.25em 1.5em;
    &:hover {
      background-color: rgba(180, 0, 0, 0.2);
    }
  }
}
