.container-settings {
  width: auto;
  margin: 1em 16%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    font-size: large;
    font-weight: bold;
    margin: 0.5em 0;
  }
  form {
    width: auto;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    :nth-child(-n + 4) {
      margin: 0.25em 0;
    }
  }
}
