* {
  box-sizing: content-box;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .container-header {
    width: 70%;
    box-sizing: content-box;

    margin: 0.5em 0em;
    border-top: 2px solid black;

    .links-pages {
      width: auto;
      heigth: 1em;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 0;

      &:hover {
        cursor: pointer;
      }
      li {
        list-style-type: none;
        text-decoration: none;

        .link,
        .link:visited {
          width: auto;
          height: auto;
          text-decoration-line: none;
          color: black;
          .link-name {
            padding: 1em;

            border-bottom: 1px solid lightsalmon;
            border-left: 1px solid lightsalmon;
            border-top: none;
          }
        }
        .link.is-active {
          .link-name {
            background-color: lightsalmon;
          }
        }
      }
      li:hover {
        background-color: moccasin;
      }
    }
  }
}
