button {
  cursor: pointer;
  border: 1.5px solid black;
  font-size: x-large;
  background-color: white;

  &:disabled,
  &[disabled],
  &[disabled]:hover {
    color: black;
    background-color: rgb(230, 230, 230);
  }

  &:hover {
    background-color: lightblue;
  }
}
