.container-game-page {
  width: auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .container-game-page {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 700px) {
  .container-game-page {
    flex-direction: row;
    align-items: flex-start;
  }
}
