.App {
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: xx-large;
    text-decoration: underline;
    color: rgb(180, 0, 0);
  }
  .container {
    background-color: green;
  }
}
