.container-game-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 3em;
  h2 {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }
}
