.container-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  .resetGame {
    margin-top: 1.5em;
    cursor: pointer;
    box-sizing: content-box;
    width: 6em;
    height: 2em;
    background-color: rgba(180, 0, 0, 0.1);
    color: rgb(180, 0, 0);
    font-weight: bold;
    border: 3px solid rgb(180, 0, 0);
    border-radius: 1em;
    padding: 0.25em 1.5em;
    &:hover {
      background-color: rgba(180, 0, 0, 0.2);
    }
  }
}
